html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-top-center {
    top: 0;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapboxgl-ctrl-top-center .mapboxgl-ctrl {
    margin: 10px 0;
    display: inline-block;
}

#layer-settings, #layer-settings *, #filter-settings, #filter-settings * {
    cursor: pointer;
}

@media only screen and (min-width: 520px) {
    #filter-settings:hover {
        width: 500px;
    }
}

@media only screen and (max-width: 520px) {
    #filter-settings:hover {
        margin: 10px;
        width: 100%;
    }
}

#layer-settings ul, #filter-settings ul {
    list-style-type: none;
    padding: 0;
    margin: 0.7em;
    min-width: 26px;
    min-height: 26px;
}

#filter-settings ul {
    background: url('../buidl/filter.png');
}

#layer-settings ul {
    background: url('../buidl/layers.png');
}

#layer-settings ul li, #filter-settings ul li {
    display: none;
}

#layer-settings:hover ul, #filter-settings:hover ul {
    background-image: none;
}

#layer-settings:hover ul li, #filter-settings:hover ul li {
    display: block;
}

#filter-settings .filter-search {
    height: 2em;
    vertical-align: bottom;
    border: 1px solid;
    margin: 5px 0 0 5px;
    width: calc(100% - 2em - 10px);
    padding: 3px;
    border-radius: 3px 0 0 3px;
}

#filter-settings .filter-search::placeholder {
    text-align: center;
    opacity: 0.3;
}

#filter-settings .filter-clear {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0;
    border: 1px solid;
    margin: 0 0 0 -1px;
    border-radius: 0 3px 3px 0;
}

#filter-settings .filter-tabs {
    margin: 15px 15px -1px 15px;
    z-index: 1;
}

@media only screen and (min-width: 350px) {
    #filter-settings .filter-tabs .tab {
        display: inline-block;
        margin: 5px -1px 0 5px;
        border: 1px solid;
        padding: 3px 5px;
        border-radius: 3px 3px 0 0;
    }

    #filter-settings .filter-tabs .tab-active {
        border-bottom: 1px solid #FFF;
    }
}

@media only screen and (max-width: 350px) {
    #filter-settings .filter-tabs {
        margin: 0;
    }

    #filter-settings .filter-tabs .tab {
        margin: 5px;
        border: 1px solid;
        padding: 3px 5px;
        border-radius: 3px;
    }

    #filter-settings .filter-tabs .tab-active {
        background-color: #AAA;
    }
}

#filter-settings .filter-panels {
    border: 1px solid;
    z-index: -1;
    margin: -1px 5px 5px 5px;
    padding: 10px;
    border-radius: 3px;
}

#filter-settings .filter-panels .panel {
    display: none;
}

#filter-settings .filter-panels .panel-active {
    display: block;
}

.gym-popup, .raid-popup, .pokemon-popup, .quest-popup {
    width: 200px;
    text-align: center;
}

.gym-exgym {
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 1px 3px;
    background-color: #5CAFC5;
    color: #FFF;
    border-radius: 3px;
}

.gym-exgym-0, .raid-attendees-0, .raid-moves-present-0 {
    display: none;
}

.gym-exgym-1, .raid-attendees-1, .raid-moves-present-1 {
    display: block;
}

.gym-team-1, .gym-team-mystic {
    background-size: 200px;
    background: url('../buidl/mystic_bg.png') no-repeat;
    background-position-y: -15px;
}

.gym-team-2, .gym-team-valor {
    background-size: 200px;
    background: url('../buidl/valor_bg.png') no-repeat;
    background-position-y: -15px;
}

.gym-team-3, .gym-team-instinct {
    background-size: 200px;
    background: url('../buidl/instinct_bg.png') no-repeat;
    background-position-y: -15px;
}

.gym-image, .raid-image, .pokemon-image, .quest-image {
    height: 138px;
    width: 138px;
    border: 1px solid;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
    margin: 10px auto;
}

.pokemon-image {
    background-image: url('../buidl/grass.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}

.pokemon-tth-urgent-1 {
    color: #A00;
    font-weight: bold;
}

.gym-image img, .raid-image img, .pokemon-image img, .quest-image img {
    height: 128px;
    width: 128px;
    margin: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    clip-path: circle(64px at center);
    object-fit: cover;
    object-position: center center;
}

.gym-info, .raid-info, .pokemon-info, .quest-info {
    background-color: rgba(255, 255, 255, .9);
    padding: 3px;
    border-radius: 3px;
    border: 1px solid;
}

.gym-name, .raid-gym-name, .raid-boss, .pokemon-name, .quest-stop-name {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
}

.raid-level {
    padding: 0;
    margin: 5px auto;
}

.raid-level-X:before {
    padding: 1px 3px;
    background-color: #5CAFC5;
    color: #FFF;
    border-radius: 3px;
    content: 'EX RAID';
}

.raid-level-1:before {
    color: #FFDF65;
    font-size: xx-large;
    content: '\272A';
}

.raid-level-2:before {
    color: #FFDF65;
    font-size: xx-large;
    content: '\272A \272A';
}

.raid-level-3:before {
    color: #FFDF65;
    font-size: xx-large;
    content: '\272A \272A \272A';
}

.raid-level-4:before {
    color: #FFDF65;
    font-size: xx-large;
    content: '\272A \272A \272A \272A';
}

.raid-level-5:before {
    color: #FFDF65;
    font-size: xx-large;
    content: '\272A \272A \272A \272A \272A';
}

.raid-time:before {
    content: '\23F0';
}

hr {
    width: 90%;
    border-top: 1px solid #000;
    border-bottom: none;
    margin: 10px auto;
}

.raid-attendees:before {
    content: '\1F465';
}

.raid-attendees p {
    margin: 0;
}

.raid-attendees p:before {
    content: '\21B3';
}

.quest-image {
    position: relative;
}

.quest-reward-amount {
    position: absolute;
    top: 45%;
    font-size: large;
    text-shadow: black 0 0 0.2em;
    z-index: 9999;
    left: 8px;
    width: 36px;
    color: white;
    text-align: right;
}

.mapboxgl-popup {
    z-index: 2;
}

.mapboxgl-popup-content {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-close-button {
    font-size: xx-large;
}

.checkbox-container {
    min-width: 33%;
    display: inline-block;
}

.checkbox-container label {
    display: inline-block;
    padding: 5px;
}