<div class="gym-popup gym-team-##team##">
	<div class="gym-exgym gym-exgym-##ex_gym##">
		EX RAID
	</div>
	<div class="gym-image">
		<img src="##image_link##" alt="##gym_name##" />
	</div>
	<div class="gym-info">
		<div class="gym-name">
			##gym_name##
		</div>
		<div class="gym-navigation">
			<a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank" title="Finde ##gym_name## auf Google Maps">##address##</a>
		</div>	
		<div class="gym-slots">
			Freie Pl&auml;tze: ##slots_available##
		</div>
	</div>
</div>