<div class="gym-popup gym-team-##team##">
    <div class="gym-exgym gym-exgym-##ex_gym##">
        ??EX_RAID_LABEL??
    </div>
    <div class="gym-image">
        <img alt="##gym_name##" src="##image_link##"/>
    </div>
    <div class="gym-info">
        <div class="gym-name">
            ##gym_name##
        </div>
        <div class="gym-navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank"
               title="??FIND_GYM_ON_GOOGLEMAPS??">##address##</a>
        </div>
        <div class="gym-slots">
            ??FREE_SLOTS??: ##slots_available##
        </div>
    </div>
</div>