<div class="pokemon-popup">
    <div class="pokemon-image">
        <img alt="##pokemon_name##" src="buidl/pogoassets/id_##pokemon_id##.png"/>
    </div>
    <div class="pokemon-info">
        <div class="pokemon-name">
            ##pokemon_name##
        </div>
        <div class="raid-navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank"
               title="??FIND_POKEMON_ON_GOOGLEMAPS??">??SHOW_ME_THE_WAY??</a>
        </div>
        <div class="pokemon-tth pokemon-tth-urgent-##urgent##">
            ##tth_string##
        </div>
    </div>
</div>