<div class="raid_popup">
    <div class="raid_arena">
        12 Apostel Platz
    </div>
    <div class="raid_navigation">
        <a href="https://www.google.com/maps/search/?api=1&amp;query=48.34388100,10.94491800" target="_blank" title="Click to find 12 Apostel Platz on Google Maps">Zeig mir den Weg dorthin</a>
    </div>
    <div class="raid_boss">
        Level 5 Egg
    </div>
    <div class="raid_level">
        <img src="buidl/level.png" /> <img src="buidl/level.png" /> <img src="buidl/level.png" /> <img src="buidl/level.png" /> <img src="buidl/level.png" />
    </div>
    <div class="raid_time">
        ? 16:38 - 17:23
    </div>
    <div class="raid_attendees">
        ?? Interessenten:
        <p class="raid_attendance">
            ? 17:15 / Pokemon egal / Teilnehmer: 5
        </p>
    </div>
    <div class="raid_join">
        <a href="https://t.me/PoGoRaidsHochzollFdb/129" target="_blank" title="Klicken und für den Raid anmelden">Zum Raid anmelden</a>
    </div>
    <div class="raid_id">
        [Raid ID: 2045]
    </div>
</div>