<div class="quest-popup">
    <div class="quest-image">
        <span class="quest-reward-amount">##reward_amount##</span>
        <img alt="##reward_amount####reward_name##" class="quest-reward-image" src="##reward_image##"
             style="background-image: url('##url##');"/>
    </div>
    <div class="quest-info">
        <div class="quest-stop-name">
            ##name##
        </div>
        <div class="quest-navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank"
               title="??FIND_QUEST_ON_GOOGLEMAPS??">??SHOW_ME_THE_WAY??</a>
        </div>
        <hr/>
        <div class="quest-reward">
            ##reward_amount####reward_name##
        </div>
        <div class="quest-task">
            ##quest_task##
        </div>
    </div>
</div>