<div class="quest-popup">
    <div class="quest-image">
        <span class="quest-reward-amount">##reward_amount##</span>
        <img alt="##quest_task##" class="quest-reward-image" src="##reward_image##"
             style="background-image: url('##url##');"/>
    </div>
    <div class="quest-info">
        <div class="quest-stop-name">
            ##name##
        </div>
        <div class="quest-navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank"
               title="Finde ##name## auf Google Maps">Zeig mir den Weg dorthin</a>
        </div>
        <div class="quest-task">
            ##quest_task##
        </div>
    </div>
</div>