<div class="raid_popup gym_team_##gym_team##">
    <div class="raid_image">
        <img src="buidl/pogoassets/id_##pokedex_id##.png" style="background-image: url('##image_link##');" />
    </div>
    <div class="raid_info">
        <div class="raid_gym_name">
            ##gym_name##
        </div>
        <div class="raid_navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank" title="Finde ##gym_name## auf Google Maps">Zeig mir den Weg dorthin</a>
        </div>
        <hr />
        <div class="raid_boss">
            <div class="raid_level raid_level_##raid_level##"></div>
            ##pokemon_name##
        </div>
        <div class="raid_moves raid_moves_present_##raid_moves_present##">
            ##move_1## / ##move_2##
        </div>
        <hr />
        <div class="raid_time">
            ##ts_start_string## - ##ts_end_string##
            <br />
            Noch ##t_left_string##
        </div>
        <hr />
        <div class="raid_attendees raid_attendees_##raiders_set##">
            Interessenten
            ##raiders_string##
        </div>
        <hr class="raid_attendees_##raiders_set##" />
        <div class="raid_join">
            <a href="https://t.me/PoGoRaidsHochzollFdb/129" target="_blank" title="Klicken und f&uuml;r den Raid anmelden">Zum Raid anmelden</a>
        </div>
        <div class="raid_id">
            [Raid ID: ##id##]
        </div>
    </div>
</div>