<div class="raid-popup gym-team-##gym_team##">
    <div class="raid-image">
        <img src="buidl/pogoassets/id_##pokedex_id##.png" style="background-image: url('##image_link##');" />
    </div>
    <div class="raid-info">
        <div class="raid-gym-name">
            ##gym_name##
        </div>
        <div class="raid-navigation">
            <a href="https://www.google.com/maps/search/?api=1&amp;query=##lat##,##lon##" target="_blank" title="Finde ##gym_name## auf Google Maps">Zeig mir den Weg dorthin</a>
        </div>
        <hr />
        <div class="raid-boss">
            <div class="raid-level raid-level-##raid_level##"></div>
            ##pokemon_name##
        </div>
        <div class="raid-moves raid-moves-present-##raid_moves_present##">
            ##move_1## / ##move_2##
        </div>
        <hr />
        <div class="raid-time">
            ##ts_start_string## - ##ts_end_string##
            <br />
            Noch ##t_left_string##
        </div>
        <hr />
        <div class="raid-attendees raid-attendees-##raiders_set##">
            Interessenten
            ##raiders_string##
        </div>
        <hr class="raid-attendees-##raiders_set##" />
        <div class="raid-join">
            <a href="https://t.me/PoGoRaidsHochzollFdb/##message_id##" target="_blank" title="Klicken und f&uuml;r den Raid anmelden">Zum Raid anmelden</a>
        </div>
        <div class="raid-id">
            [Raid ID: ##id##]
        </div>
    </div>
</div>